.container{
    border: 5px solid black;
    height: 60px;
    width: 550px;
    border-radius: 10px;
    background-color: cadetblue;
    display: flex;
} 

.item{
    /* border: 1px solid black; */
    height: 58px;
    /* width: 100px; */
    padding: 40px;
    color: rgb(29, 61, 56);
    text-align: end;

}